# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Data / Models
data/
*.csv
*.xlsx
*.pkl
*.joblib
*.zip
*.model

# Figures
*.pdf
!index.html  # keep case study HTML
